@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #09090b;
  color: #fafafa;
}

/* Mapbox overrides */
.mapboxgl-ctrl-logo { display: none !important; }
.mapboxgl-ctrl-attrib { display: none !important; }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
